.intro-box{
	width: 100%;
	height: 100%;
	max-width: 460px;
	max-height: 240px;
  	position:absolute;
  	top:50%;
  	left:50%;
  	margin-top:-120px; /* this is half the height of your div*/  
  	margin-left:-230px; /*this is half of width of your div*/
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	padding-top: 15px;
/*  	border-style: solid;
  	border-width: 0.1em;*/
  	background-color: rgba(234, 219, 211, 0.8);
  	letter-spacing: 3px;
}
*{
	margin:0;
	padding: 0;
}
@media screen and (max-width: 600px) {
  div.intro-box {
  	font-size: 0.6em;
  	width:80%;
  	height: 23%;
	margin-left:-115px;
  	margin-top: -60px;
  	top: 40%;
  	left: 38%;
  }
}
@media screen and (max-width: 400px) {
	div.intro-box{
		height: 200px;
	}
}
@media screen and (max-width: 375px) {
	div.intro-box{
		left: 40%;
		width: 85%;
	}
}
@media screen and (max-width: 350px) {
	div.intro-box{
		left: 60%;
		width: 85%;
	}
}
@media screen and (max-width: 360px) {
	div.intro-box{
		left: 42%;
		width: 85%;
	}
}
@media screen and (max-width: 320px) {
	div.intro-box{
		left: 45%;
		width: 85%;
	}
}
.intro{
	position: relative;
	font-size: 1.5em;
	letter-spacing: 3px;
}

.name{
	color: #c32920;
	font-size: 1.3em;
	border-style: none;
}

.name:hover{
	cursor: pointer;
	color:rgba(230, 174, 174) ;
}

.jobtitles{
	color: #c32920;
	position: relative;
	font-size: 1.1em;
	letter-spacing: 3px;
}

.jobtitles:hover{
	/*color: #fff1ef;*/
	cursor: pointer;
	text-decoration: none;
}

.icon{
	width: 32%;
}

/*@media screen and (max-width: 400px) {
	.icon{
		margin-top: -%
	}
}
*/
body{
	/* background-image: url("/flowerinitials");
    background-position: center;
    background-size: cover;*/
    background-color: rgb(255, 240, 240);
    background-image: url(./assets/roseBG.png);
    background-size: 90em 46em;
    background-repeat: repeat;
}


/*PORTFOLIO PAGES CSS*/

.tab-content{
	background-color: rgba(234, 219, 211, 0.86);
}
div.bgBox{
	background-color: rgba(234, 219, 211, 0.98);
	width: 60%;
	height: 100%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    padding-top: -20px;
}

.home{
/*	position:absolute;
*/	margin-top: 3%;
  	color: #c32920;
}

.nav{
  	color: #c32920;
}

.linkTitle{
	color: #c32920;
}

.nav:hover{
	color: rgba(230, 174, 174);
}

a.active{
	color: rgba(230, 174, 174);
}

.navToggle{
	margin-top: 2%;
}

a:hover{
	text-decoration: none;
	color: rgba(230, 174, 174);
}

.home:hover{
	text-decoration: none;
	color: rgba(230, 174, 174);
}

.item-logo{
	width: 100%;
}

.banners{
	width: 100%;
	padding: 1em;

}

.gandi{
	width: 80%;
	padding: 1em;
    margin-left: 10%;
}

.hc{
	width: 90%;
	padding: 1em;
	margin-left: 5%;
}

.videoWrapper{
  position: relative;
  padding-top: 50%;
  margin-left: 6%;
}
.igWrapper{
/*	width: 100%;
*/	position: relative;
    margin-left: 15.5%;
    margin-bottom: 2%;
}
.react-player{
  position: absolute;
  top: 0;
  left: 0;
}

.folder{
	padding-top: 2em;
/*	padding-left: 1em;
	padding-right: 1em;*/
	width: 55%;
	margin-left: 25%;
}

@media screen and (max-width: 800px) {
	img.folder{
		width: 50%;
	}
}
@media screen and (max-width: 400px) {
	img.folder{
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	body{
		background-size: 100%;
	}
}

@media screen and (max-width: 800px) {
	body{
		background-size: 100%;
	}
}

div.bgBoxContent{
	background-color: rgba(234, 219, 211, 0.86);
	width: 90%;
	height: 100%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  div.bgBoxContent {
	width: 70%;
	height: 100%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  div.bgBoxContent {
	width: 65%;
	margin-left: 3%;
  }
}

/*@media screen and (max-width: 1100px) {
  .col {
  	margin-right: 18%;
  }
}*/
.jobPos{
	color:rgb(225, 147, 147);
}

.jobDes{
	color: rgba(230, 174, 174);
	text-align: center;
}
.grid{
	margin:0 auto;
}

.CarouselWrapper{
	margin: 2em;
}
.carousel-indicators li{
	background-color: rgba(237, 21, 21);
}

.carousel-indicators .active{
	background-color: rgba(234, 219, 211, 0.86);
}

.col{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.portfolio-content{
	height: 600px;
}

.folder-pop{
	width: 60%;
	margin-top: 50%;
	margin-left: 10%;
}

/* POP UP*/

.mePhoto{
	width: 80%;
	padding: 2em;
}

.email{
  color: #c32920;
}

.about-text{
	margin-left: 2em;
	margin-right: 1em;
}

/*.close:hover {
  color: rgba(230, 174, 174);
  cursor: pointer;
}*/

@media screen and (max-width: 1024px), screen and (max-height: 1366px) {
	div.modal-content-1{
		width: 50%;
		margin-top: 20%;
	}
}

@media screen and (max-height: 1365px) {
	div.modal-content-1{
		width: 35%;
		margin-top: 2%;
	}
}

@media screen and (max-width: 768px) {
	div.modal-content-1{
		width: 60%;
		margin-top: 15%;
	}
}
@media screen and (max-width: 414px) {
	div.modal-content-1{
		width: 80%;
		margin-top: 15%;
		margin-right: 7%;
	}
}

@media screen and (max-width: 320px) {
	div.modal-content-1{
		width: 80%;
		margin-top: 2.5%;
	}
}


.modal-1 {
  background-color: rgba(234, 219, 211, 0.98); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; 
  height: 100%;  
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
}

/* Modal content */
.modal-content-1{
  background-color: rgba(234, 219, 211, 0.98);
  width: 35%; /* Width in proportion to its parent container*/
  max-width: 640px; /* Max width where it stops expanding */
  margin: auto; /* Auto margin according to the element width */
  /*padding-top: 10%;*/
  margin-top: 1%;
  margin-bottom: 2%;
}

.modal-flex {
  display: flex;
  height: 100%; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-info {
  background-color: #888;
  border: 1px solid #888;
}

/* Close button */
.close {
  color: #c32920;
  float: right; /* Positioned to the right of the parent container whichever size it is */
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(230, 174, 174);;
  text-decoration: none;
  cursor: pointer;
}